{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "14.9.0"
                }
            }
        ],
        "@babel/react"
    ]
}