html
    include partials/head.pug
    body
    div.sidebar
        a(href=`/`)= `Home`
        a(href=`/ships`)=`All Ships`
        a(href=`/#shipIds`)=`IDs & Slugs`
        a(href=`/#manufacturers`)=`Manufacturers`
        a(href="/#classes")=`Classes`

    div.content
        <img src="./images/sw-logo2.png">
        h1 THE API
        h2.titles Introduction
            p.refs This API is about helping you find the perfect Star Wars ship for you.
            
    
        h3.titles API References
        p.refs Sample Slug API Call
            <div>
            p.refs http://localhost:port/ships/147
            p.jsonExample name: 'Nebulon B',
            p.jsonExample manufacturer: 'Kuat Drive Yards',
            p.jsonExample shipClass: 'Frigate',
            p.jsonExample size: 300,
            p.jsonExample weapons: ['turbo lasers', 'laser cannons', 'tractor beams'],
            p.jsonExample affiliations: ['Imperial', 'Rebels', 'New Republic', 'pirates', 'civilian'],
            p.jsonExample isUnique: 'No',
            p.jsonExample slug: 'nebulon-b',
            </div>

        table
            tr
                th Method
                th Reference
                th Purpose
            
            tr
                td.methods GET
                td /ships
                td Return JSON of all ships
            
            tr
                td.methods GET
                td /ships/id/#
                td Return JSON of a ship by id

            tr
                td.methods GET
                td /ships/gte/#
                td Return JSON of all ships greater than or equal size requested

            tr
                td.methods GET
                td /ships/lte/#
                td Return JSON of all ships less than or equal to size requested

            tr 
                td.methods GET
                td /ship/slug
                td Returns a JSON of a fuzzy search of all matching slugs
          
            tr
                td.methods POST
                td /ships/
                td Create new ship and add to database

            tr
                td.methods DELETE
                td /ships/#
                td Delete a ships record


        <h3 id='shipIds', class= 'titles'> Ship IDs & Slugs </h3>
        table  
            tr
                th ID
                th Ship Name
                th Slug

            for ship in shipInfo
                tr
                    td= ship.id
                    td= ship.name
                    td= ship.slug
            




        <h3 id='manufacturers', class= 'titles'> Manufacturers </h3>
        table  
            tr
                th Starship Manufacturers

            for manu in manuInfo
                tr
                    td= manu.manufacturer

                
        </div>
