html
    include partials/head.pug
    body
    div.sidebar
        a(href=`/`)= `Home`
        a(href=`/ships`)=`All Ships`
        a(href=`/#shipIds`)=`IDs`
        a(href=`/#manufacturers`)=`Manufacturers`
        a(href="/#classes")=`Classes`

    div.content
        <img src="./images/sw-logo2.png">
        h1 THE API
        h2.titles Introduction
            p.refs This API is about helping you find the perfect Star Wars ship for you.
            
    
        h3.titles API References
        p.refs Sample Slug API Call
            <div>
            p.refs http://localhost:port/ships/147
            p.jsonExample name: 'Nebulon B',
            p.jsonExample manufacturer: 'Kuat Drive Yards',
            p.jsonExample shipClass: 'Frigate',
            p.jsonExample size: 300,
            p.jsonExample weapons: ['turbo lasers', 'laser cannons', 'tractor beams'],
            p.jsonExample affiliations: ['Imperial', 'Rebels', 'New Republic', 'pirates', 'civilian'],
            p.jsonExample isUnique: 'No',
            p.jsonExample slug: 'nebulon-b',
            </div>

        table
            tr
                th Method
                th Reference
                th Purpose
            
            tr
                td.methods GET
                td /ships
                td Return JSON of all ships
            
            tr
                td.methods GET
                td /ships/id/#
                td Return JSON of a ship by id

            tr 
                td.methods GET
                td /ship/slug
                td Returns a JSON of a fuzzy search of all matching slugs
          
            tr
                td.methods POST
                td /ships/
                td Create new ship and add to database

            tr
                td.methods DELETE
                td /ships/#
                td Delete a ships record


        <h3 id='shipIds', class= 'titles'> Ship IDs </h3>
        table  
            tr
                th ID
                th Ship
                th Slug
            




        <h3 id='manufacturers', class= 'titles'> Manufacturers </h3>
        table  
            tr
                th Starship Manufacturers
                th Searchable Name
            tr 
                td Corellian Engineering Corp
                td cec
            tr 
                td Cygnus Spaceworks
                td cygnus-spaceworks
            tr 
                td Olanji-Charubah
                td olanji-charubah
            tr 
                td Hoersh-Kessel Drive
                td hkd
            tr 
                td Incom Corporation
                td incom-corp
            tr 
                td Kuat Drive Yards
                td kdy
            tr 
                td Kuat Systems Engineering
                td kse
            tr 
                td Loronar Corp.
                td lonar-corp
            tr 
                td Mon Calmari Shipyards
                td mcs
            tr 
                td Mandal Motors
                td mandal-motors
            tr 
                td Repuiblic Engineering Corp.
                td rec
            tr
                td Rendili StarDrive
                td rendili-stradrive
            tr
                td Sienar Fleet Systems
                td sfs
            tr
                td Silviut Corp.
                td silviut-corp
            tr
                td SoroSuub
                td sorosuub
            tr
                td Ssi-Ruuk
                td ssi-ruuk
            tr
                td Telgorn Corp.
                td telgorn-corp
                
        </div>
