html
    include partials/head.pug
    body
        h1 Star Wars Ships (Index Page)
            h2 Ships
            ul
                li
                    a(href=`/ships`)= `localhost:1337/ships gives you a list of all ships`
