html
    include partials/head.pug
    body

    <div class="content">
        <h1>THE API</h1>
        <h2>Introduction</h2>
        <p>This API is about helping you find the perfect Star Wars ship for you.</p>
    
        <h3>API References</h3>
            <p>Sample Slug API Call</p>
            <p>http://localhost:port/ships/nebulon-b</p>
            <p>Show sample response here</p>

        table
            tr
                th Reference
                th Method
                th Purpose
            
            tr
                td /ships
                td GET
                td Return JSON of all ships
            
            tr
                td /ships/id
                td GET
                td Return JSON of ship by id

            tr
                td /ships/type
                td GET
                td Return JSON of ship by type
          
            tr
                td /ships/manufacturer
                td GET
                td Return JSON of ships by manufacturer

            tr
                td /ships/slug
                td GET
                td Return JSON of a ship by friendly name
    </div>